<form method="post" action="{{ path('app_backend_section_delete', {'id': section.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette section?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ section.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
