{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Inscription au Nyaka Nansi 2024{% endblock %}

{% block body %}
    <div class="overflow-hidden">
        <div class="logo">
            <div class="logo-icon" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="2000">
                <img src="{{ absolute_url(asset('frontend/img/logo-cvav.png')) }}" alt="" class="img-fluid">
            </div>
            <div class="logo-text" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="2000">
                <h2>
                    Coeurs Vaillants Ames Vaillantes
                </h2>
                <h3>Dicosèse d'Abidjan</h3>
            </div>
        </div>
    </div>
    <div class="activite">
        <div class="activite-icon" data-aos="zoom-in-up" data-aos-easing="ease-in-back" data-aos-duration="3000">
            <img src="{{ absolute_url(asset('frontend/img/logo-activite.png')) }}" alt="" class="img-fluid">
        </div>
        <div class="activite-text" data-aos="zoom-out-down" data-aos-easing="ease-in-back" data-aos-duration="3000">
            <h3 class="titre">
                N'yâkâ Nansi 2024
            </h3>
            <h6 class="theme">
                En marche vers un monde meilleur bâtissons une Côte d'Ivoire
                sans les violences et sans le travail des enfants.
            </h6>
            <div class="date">
                Du <strong>samedi 18</strong> au <strong>lundi 20 mai 2024</strong>
                à la paroisse <strong>Notre Dame du Perpétuel Secours de Treichville.</strong>
            </div>

        </div>
        <div class="call-action">
            <a href="#" class="btnAction">
                Je participe
            </a>
        </div>
    </div>
{% endblock %}
