<form method="post" action="{{ path('app_backend_aspirant_delete', {'id': aspirant.id}) }}" onsubmit="return confirm('Attention!!! Voulez-vous supprimer ce participant?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ aspirant.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
