
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");
@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");
@import url('https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.min.css');

:root
{

    --text-bleu: rgb(45,51,122);
    --text-bleu-secondaire: rgb(3, 142, 197);
    --text-bleu-hover: rgb(181,229,241);
    --bg-color: rgb(181,229,241);
    --bg-color-2: rgb(255,255,255);
}

body{
    background: linear-gradient(to top, var(--bg-color), white);
    width: 100%;
    min-height: 100vh;
}

.logo{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-icon{
        float: left;
        margin-right: 10px;
    }

    &-text{
        text-align: center;

        h2{
            color: var(--text-bleu-secondaire);
        }

        h3{
            color: gray !important;
        }
    }

    img{
        max-width: 120px;
        height: auto;
    }
}

.activite{
    text-align: center;

    &-text{
        .titre{
            text-transform: uppercase;
            color: var(--text-bleu);
        }

        .theme{
            font-style: italic;
            color: var(--text-bleu-secondaire);
        }

        .date{
            font-size: 0.8rem;
            color: gray;
        }
    }

    .call-action{
        //margin-top: 50px;

        a{
            text-decoration: none;

            &.btnAction{
                background: rgb(0, 172, 239);
                color: white;
                font-weight: bold;
                padding: 20px 45px;
                border-radius: 5px;

                &:hover{
                    background: var(--text-bleu-hover);
                }
            }
        }
    }
}

.formulaire{
    h2{
        &.titre{
            color: var(--text-bleu);
            text-transform: uppercase;
        }
    }
}

/* CSS pour le loader */
.loader {
    border: 6px solid #f3f3f3; /* Gris clair */
    border-top: 6px solid #3498db; /* Bleu */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

/* Animation de rotation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* CSS pour l'overlay */
#loader-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond semi-transparente */
    z-index: 9998; /* Mettre au-dessus de tout le reste */
}

.recu{
    .libelle{
        font-weight: bold;
        font-size: .9rem;
        color: #616060;
    }

    .valeur{
        font-weight: bold;
        font-size: 1.1rem;
    }

    .matricule{
        font-weight: bold;
        font-size: 1.2rem;
        color: #0d6efd;
    }

    .montant{
        font-weight: bold;
        font-size: 1.3rem;
        color: darkred;
    }
}

