{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion liste de la cloture{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
            <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h4 class="fw-semibold mb-8">Gestion de la cloture</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Modules</a></li>
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Gestion</a></li>
                                <li class="breadcrumb-item" aria-current="page">Cloture</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        <div class="text-center mb-n5">
                            <span class="head-icon"><i class="ti-package"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col"><h5 class="mb-2 fw-semibold fs-4">Formulaire</h5></div>

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 offset-3 text-center">
                                    {{ include('backend_cloture/_form.html.twig') }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        document.getElementById('cloture_statut').addEventListener('change', function() {
            document.getElementById('clotureForm').submit();
        });
    </script>
{% endblock %}